* {
    margin: 0px auto;
}

.navbar li a:hover {
    background-color: rgb(255, 255, 255);
}
.navbar li a {
    color: rgb(255, 255, 255);
    
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
}

.interest {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.interest.active {
    background-color: #FF6B6B;
}

.logo img {
    height: 70px; /* Ajusta el tamaño del logo según tus necesidades */
    left: 10px;
}

#subirfotos{
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#subirfotos:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
#botonGuardar{
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonGuardar:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
#registrarse{
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#registrarse:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
footer {
    background-color: transparent;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: #faf8f9;
    width: 100%;
}
body, html {
    height: 100%;
    margin: 0;
}

.container {
        margin-top: 20px;
        text-align: center;
}
  
.container p {
    margin-bottom: 10px;
    text-align: center;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: "Protest Riot", sans-serif;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .footer-links a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-icono {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }


  
.footer-links li a {
    color: black;
    text-decoration: none;
   
}

.footer-links a:hover {
    color: rgb(241, 15, 121); /* Cambiar color al pasar el mouse sobre el enlace */
}

.iniciar-sesion-btn {
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
.iniciar-sesion-btn:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
.registrame-btn {
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
.registrame-btn:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

.circular-img {
    width: 75px;
    height: 75px; /* Asegúrate de que el alto y ancho sean iguales */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.header {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, transparent, #D41072);
    backdrop-filter: blurd(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family:inherit ;
 
}


.navbar a {
    font-size: 1.15rem;
    color: #ffffffe8;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.15rem;   
    padding: 5px 15px;    

}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffd1d1;
    cursor: pointer;
    display: none;

}

.navbar a:hover{
    color: #ff009d;
    background-color: #ffffff;
    border-radius: 20px;

}






