*{
    margin: 0px auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*NavBar*/
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#barraDeNavegación {
    background: linear-gradient(100deg, #06FFDA, #F5FF9A, #FF0073);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

#barraDeNavegación .logo a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#items-navbar {
    display: flex;
    gap: 30px;
}

#items-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

#items-navbar a:hover {
    color: #ff009d;;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    #items-navbar {
        flex-direction: column;
        gap: 10px;
    }
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffd1d1;
    cursor: pointer;
    display: none;
}

.navbar a:hover{
    color: #ff009d;
    background-color: #ffffff;
    border-radius: 20px;
}

/*Títulos:h1*/
h1 {
    font-size: 3em;
    color: #343a40;
    text-align: center;
    margin-top: 20px;
    left: 450px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(100deg, #06FFDA, #F5FF9A, #FF0073);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 3s infinite;
}

h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FF0073;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

h1:hover::before {
    transform: scaleX(1);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Página de Inicio */

#h1-Inicio {
    text-align: center;
    color: #FF0065;
}

#parrafo-inicio {
    text-align: center;
    font-size: 20px; color: black;
}

.iniciar-sesion-btn {
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
.iniciar-sesion-btn:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
.registrame-btn {
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
.registrame-btn:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

.circular-img {
    width: 75px;
    height: auto; /* Asegúrate de que el alto y ancho sean iguales */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.container p {
    margin-bottom: 10px;
    text-align: center;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Formulario/Página 2*/

#logoDeForm {
    height: auto;
    width: 90px;
}

#Formulario {
    margin-top: 20px;
    margin-bottom: 20px
}

/*VERIFICAR IDENTIDAD*/

#LogoIdentidad {
    height: auto;
    width: 90px;
}

#card-identidad{
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de 'center' a 'flex-start' para controlar la posición vertical */
    height: 100vh;
    margin: 0;
    padding-top: 50px; /* Añadir un relleno superior para bajar la tarjeta */
}
/* Estilo de la tarjeta */
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 450px;
    width: 90%;
    text-align: center; /* Centra el texto horizontalmente */
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 50px; /* Añadir margen superior adicional */
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Estilo de los encabezados */
.card h2 {
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.25em;
}

/* Estilo del texto */
.card p {
    color: #666;
    margin-bottom: 20px;
    font-size: 0.95em;
    line-height: 1.4; /* Añade un poco de espacio entre líneas para mejor legibilidad */
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos del formulario */
    width: 100%; /* Asegura que el formulario tome todo el ancho de la tarjeta */
}

/* Estilo de las secciones de subida de archivos */
.upload-section {
    width: 100%;
    margin-bottom: 15px;
    text-align: left; /* Texto alineado a la izquierda dentro de cada sección de subida */
}

.upload-section label {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
    font-size: 0.95em;
    margin-right: 165px;
}

.upload-section label i {
    margin-right: 8px;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
    color: #555;
}

input[type="file"]:focus {
    border-color: #009578;
}

/* Estilo del botón de envío */
.submit-btn {
    background-color: #009578;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #007f63;
}
.submit-btn:hover {
    background-color: #007f63;
}

#verificar-identidad{
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#verificar-identidad:hover{
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

#botonGuardar{
    background-color: #FF0065; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonGuardar:hover {
    background-color: #D41072; /* Color de fondo al pasar el mouse */
    color: white;
}
#registrarse{
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#registrarse:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

/*HEADER*/

.header {
    position: relative;
    top: 0px;
    height: auto;
    width: 100%;
    background: linear-gradient(90deg, transparent, #D41072);
    backdrop-filter: blurd(50px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: auto; /* Ajusta el tamaño del logo según tus necesidades */
    left: 1px;
}

/*COMPLETAR PERFIL*/
.container {
    margin-top: 120px;
    text-align: center;
}

#Intereses {
    text-align: center;
    margin-top: 30px;
}

.profile-card {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid rgb(34, 34, 34); /* Borde de 2px de grosor con color azul */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card label {
    margin-top: 10px;
    display: block;
}

.profile-card input[type="file"] {
    display: none;
}

h1 {
    color: black;
    margin-top: -90px;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
}

.interest {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.interest.active {
    background-color: #82EDE1;
}
#botonGuardar{
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonGuardar:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

/*ACTIVIDADES*/

#TituloActividades {
    text-align: center;
    margin-top: 30px;
    color: black;
}

#carouselExample {
    margin-top: 60px;
}

#botonConciertos {
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonConciertos:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}
#botonDeportes {
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonDeportes:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}
#botonDomingueando {
    background-color: #82EDE1; /* Cambia el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Cambia el color del texto */
    font-size: 1.2rem; /* Cambia el tamaño de la fuente */
    border-radius: 8px; /* Añade bordes redondeados */
    padding: 10px 20px; /* Añade padding */
    transition: background-color 0.3s; /* Añade una transición suave */
}
#botonDomingueando:hover {
    background-color: #32746D; /* Color de fondo al pasar el mouse */
    color: white;
}

.carousel-item img {
    max-height: 400px; /* Altura máxima de las imágenes */
    object-fit: cover; /* Ajuste de la imagen para cubrir */
}

.carousel-inner {
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrado horizontal */
}
.carousel-item img {
    max-height: 400px; /* Altura máxima de las imágenes */
    object-fit: cover; /* Ajuste de la imagen para cubrir */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Recorta las imágenes dentro de los bordes redondeados */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #FF0065; /* Cambia este color al que prefieras */
    background-size: 100%, 100%;
    width: 50px; /* Cambia el tamaño al que prefieras */
    height: 50px; /* Cambia el tamaño al que prefieras */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Diseño eventos*/
#eventos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 300px;
    margin: 10px;   
    padding: 20px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item h4 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}   
.item span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.item .btn-unirme {
    background-color: #82EDE1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}
.item .btn-unirme:hover {
    background-color: #32746D;
}
.txt {
    margin-bottom: 15px;
}
/*FOOTER*/
footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 15px 0; 
    text-align: center;
    border-top: 3px solid #FF0065; 
    margin-top: 130px;
}

#FooterActividades {
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; 
}


.footer-logo img {
    max-width: 100px; 
}


.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 0.9em; 
    transition: color 0.3s; 
}

.footer-links ul li a:hover {
    color: #FF0065; 
}


.footer-social {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
}

.footer-social a {
    margin: 0 10px; 
    color: #ffffff; 
    font-size: 20px; 
    transition: transform 0.3s, color 0.3s; 
}

.footer-social a:hover {
    color: #FF0065; 
    transform: scale(1.1); 
}


.footer-contact p {
    margin: 3px 0; 
    color: #ffffff; 
    font-size: 0.9em; 
}

.footer-bottom {
    padding: 5px 0; 
    background-color: #000000; 
}

.footer-bottom p {
    margin: 0;
    font-size: 0.8em; 
    color: #ffffff; 
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links ul {
        padding: 0;
    }

    .footer-social {
        margin-top: 10px; 
    }
}

.destacados {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.item {
    width: calc(33% - 28px);
    margin: 16px;
    padding: 12px 12px 20px;
    border-radius: 4px;
    background-color: #F5F5F4;
    position: relative;
    top: 0;
    z-index: 5;
}

.cont-1550 {
    max-width: 1550px;
}

.btn-unirme {
    color: #020202;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding: 8px 28px;
    display: inline-block;
    border-radius: 24px;
    background-color: #FF0065;
    width: 100%;
    text-align: center;
}

.destacados .item .txt h4 {
    color: #0B2739;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.cont-1550 .destacados .item .txt span {
    color: #50545B;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

@media (max-width: 760px) {
    .cont-1550 .destacados .item {
        max-width: 445px;
        width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 1230px) {
    .cont-1550 .destacados .item {
        width: 445px;
    }
}
@media (max-width: 1400px) {
    .cont-1550 .destacados .item {
        width: calc(33% - 12px);
        margin: 16px 8px;
    }
}


